<div class="login-pg">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-reg" }) do |f| %>
    <h2 class="text-2xl text-gray-100">SIGN UP</h2>

    <div class="log-in">
      <div class="absolute">
        <%= f.submit "Register", class: "text" %>
      </div>
      <div class="actions">
        <a href="/" class="back">Back</a>
      </div>
    </div>

    <div class="field">
      <%= f.text_field :name,
                   autofocus: true,
                   autocomplete: "name",
                   placeholder: "Name",
                   class: "w-full" %>
    </div>

    <div class="field">
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    placeholder: "Email",
                    class: "w-full" %>
    </div>

    <div class="field">
      <%= f.password_field :password,
                       autocomplete: "new-password",
                       placeholder: "Password",
                       class: "w-full" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation,
                       autocomplete: "new-password",
                       placeholder: "Confirm password",
                       class: "w-full" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
