<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="main">
      <%= yield %>

      <% if notice %>
        <p class=""><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class=""><%= alert %></p>
      <% end %>

      <% if flash[:error] %>
        <p class=""><%= flash[:error] %></p>
      <% end %>
    </main>
  </body>
</html>
