<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <% if notice %>
        <p
          class="
            flash
            notice
            p-2.5
            my-2.5
            rounded
            bg-[#d9edf7]
            text-[#31708f]
            text-center
            absolute
            bottom-0
            z-20
            w-full
          "
        ><%= notice %></p>
      <% end %>

      <% if alert %>
        <p
          class="
            flash
            alert
            p-2.5
            my-2.5
            rounded
            bg-[#f2dede]
            text-[#a94442]
            text-center
            absolute
            bottom-0
            z-20
            w-full
          "
        ><%= alert %></p>
      <% end %>

      <% if flash[:error] %>
        <p
          class="
            flash
            error
            p-2.5
            my-2.5
            rounded
            bg-[#f2dede]
            text-[#a94442]
            text-center
            absolute
            bottom-0
            z-20
            w-full
          "
        ><%= flash[:error] %></p>
      <% end %>
  </body>
</html>
